name: show commit message
on: 
   push:
         branches:
                - main
jobs: 
    print-message:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v5

            - name: print commit mssage
              run:
                  echo "commit message"
                  echo"${{github.event.head_commit.message}}